<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FOOD AND WINE!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<style>
    html,
    body,
    h1,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Papyrus', fantasy;
    }

    h2 {
        font-family: 'Brush Script MT', cursive;
        font-size: 280%
    }
    
</style>

<body
    style="background-image: url('https://raw.githubusercontent.com/selgho23/Bootcamp_Project2/khushboo_branch/static/shutterstock_presentation.jpg')">

    <div class='navbar navbar default'>
        <div class="dropdown">
            <select class="selectpicker custom-button" id="choose-page" onchange="location = this.value">
                <option>Stay on this page?</option>
                <option value="http://127.0.0.1:5000/">Back to Home Page</option>
                <option value="http://127.0.0.1:5000/wine-recommendation-page">Find Wine Recommendation</option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Gastrónoma</h1>
            <p>Enjoy food and wine!!</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <h2>"If food is the body of good living, wine is its soul-
                Clifton Fadiman"</h2>
            <div id="plot"></div>

        </div>
    </div>
    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-3">
                <aside class="filters">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter Search</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="food">Enter your food preference</label>
                                            <input class="form-control" id="foodtype" type="text" placeholder="salmon">

                                        </li>
                                    </ul>
                                </div>
                                <button id="filter-btn" type="submit" class="btn btn-default">Find wine pair</button>
                                <form action="#" method="POST" id="hello" onsubmit="return false;">

                                    <input class="btn btn-default" type="submit" name="submit" id="food_trivia"
                                        value="Food Trivia of the Day" width="54" height="20" border="0" tabindex="5"
                                        onclick="showDiv()">
                                </form>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-8 sidebar">

                <div class="col-md-12" width: 1000px;>
                    <div id="table-area" class="">
                        <table id="food-table" class="table table-striped">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="showme" style="display:none;"></div>
                        <div id="loadingGif" style="display:none"><img
                                src="https://raw.githubusercontent.com/selgho23/Bootcamp_Project2/khushboo_branch/static/tenor.gif">
                        </div>
                    </div>
                </div>


            </div>



            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

            <script src="../static/js/data.js"></script> -->
            <script src="../static/js/wine.js"></script> -->


</body>

</body>

</html>